*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

td {
      width: 20px;
      height: 20px;
}

.blank {
    background-color: blank;
}

.snake {
      background-color: white;
}

.wall {
    background-color: green;
}

.fruit {
    background-color: red;
}

.scoreStyle {
    font-size: 40px;
    font-family: "Ubuntu Mono";
    color: white;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    border: 2px solid white;
    padding: 1%;
    border-radius: 15px;
}

table {
    display: inline;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    width: 60%;
}

.instruction {
    color: #e8e1a7;
    border: 2px solid white;
    border-radius: 15px;
    padding: 1%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    font-family: "Ubuntu Mono";
    width: 43.5%;

}